marquee {
 background-color: aqua;
 color: blue;
 font-weight: bold;
}

#map2 {
 margin-left: 90
}

#drummer {
 width: 70%;
}

img {
 width: 40%;
 height: 50%
}

#namer {
 margin-right: 700;
 margin-bottom: 120;
 margin-top: -80;
}


#gmail {
 margin-right: 870;
 margin-bottom: 130;
 margin-top: -120;
}

#insta {
 margin-right: 1010;
 margin-bottom: 130;
 margin-top: -120;
}

#phone {
 margin-right: 950;
 margin-bottom: 130;
 margin-top: -120;
}

.row::after {
 content: "";
 clear: both;
 display: table;
}

.travel_mainDiv {
 float: left;
 width: 33.33%;
 padding: 5px;
 border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
 width: 100%;
 height: 300px;
}

.travel_mainDiv hr {
 width: 100%;
}

.travel_mainDiv h5, .travel_mainDiv p {
 margin-left: 20px;
}

#achievementsID {
 padding-bottom: 10px;
}

#achievementsID2 {
 padding-bottom: 10px;
}

#achievementsID3 {
 padding-bottom: 10px;
}


.movie_head {
 font-size: 20px;
 padding: 6px 22px;
 border-radius: 10px;
 margin-bottom: 15px;
 width: 100%;
 display: inline-block;
}

.movie_head2 {
 font-size: 20px;
 padding: 6px 22px;
 border-radius: 10px;
 margin-bottom: 15px;
 width: 100%;
 display: inline-block;
}

.movie_head3 {
 font-size: 20px;
 padding: 6px 22px;
 border-radius: 10px;
 margin-bottom: 15px;
 width: 100%;
 display: inline-block;
}

.movie_head i {
 float: right;
}

.movie_head2 i {
 float: right;
}

.movie_head3 i {
 float: right;
}

.movie_text span {
 color: #ff7700;
}

.movie_text2 span {
 color: #ff7700;
}

.movie_text3 span {
 color: #ff7700;
}

#boar {
 width: 400;
}

#romans {
 width: 400;
}

#potion {
 width: 400;
}

#fishybact {
 height: 300;
}

#pict01 {
 width: 160;
 height: 240;
}

#pict02 {
 width: 160;
 height: 240;
}

#pict03 {
 width: 160;
 height: 240;
}

#al01 {
 font-size: 24;
}

#al02 {
 font-size: 24;
}

#al03 {
 font-size: 24;
}